.keyContainer{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 50%;
    justify-content: center;
}
.key{
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border: 1px solid #D7D7D7;
    color: #1E1E1E;
    background-color: #FCBA29;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.key:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.correct{
    background-color: #10A95B;
}
.wrong{
    background-color: #EC5D49;
}

.newGame{
    cursor: pointer;
    margin-top: 2.5rem;
    padding-block: 0.8rem;
    padding-inline: 5rem;
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
}