

.languagesWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    gap: 0.2rem;
    justify-content: center;
}
.lang{
    padding: 0.5rem;
    border-radius: 5px;
    position: relative;
}

.lost::before{
    background-color: rgba(0, 0, 0, 0.7);
    content: "💀";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}